#!/usr/bin/make -f

SRCDIR = $(CURDIR)
include /usr/share/postgresql-common/pgxs_debian_control.mk
clean: debian/control
.PHONY: debian/control

build-indep:
build build-arch: build-stamp
build-stamp:
	# we do not set srcdir here
	set -e; for v in $(shell pg_buildext supported-versions); do \
		$(MAKE) -C $(CURDIR) -f $(CURDIR)/Makefile PG_CONFIG="/usr/lib/postgresql/$$v/bin/pg_config" VPATH="$(CURDIR)" USE_PGXS=1; \
	done
	markdown doc/plv8.md > doc/plv8.html
	touch $@

clean:
	+pg_buildext clean $(CURDIR) build-%v
	rm -rf build-?.? debian/postgresql-?.?-plv8 doc/plv8.html
	dh $@

override_dh_installdocs:
	dh_installdocs doc/*

override_dh_auto_test:
	# noop

binary-indep:
binary binary-arch:
	dh_prep
	+pg_buildext install $(CURDIR) build-%v postgresql-%v-plv8
	dh $@

%:
	dh $@

.PHONY: build build-arch build-indep clean install binary binary-arch binary-indep
